.model{
    position: fixed;
    top:10px;
    left:40%;
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-main{
    background:pink;
    color:rgb(75, 45, 243);
    box-shadow:2px 2px 5px 5px white;
    padding:20px;
    border-radius: 5px;
    width:100%;
    text-align: center;
}
.display-block{
display: block;

}
.display-none{
    display:none;
}